html {
    font-size: 14px;
    overflow: hidden;
}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Custom Styling form Index / Layout*/

body {
    background-color: whitesmoke;
}

header {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100px;
    display: flex;
    justify-content: center;
    align-content: start;
    /*align-items: start;*/
    z-index: 1000;
    background-image: url('assets/Topo_Pattern_Path_Opactiy_5.png');
    background-size: cover;
    color: whitesmoke;
    background-color: rgb(55, 63, 58);
}

.logo img{
    position: absolute;
    width: 175px;
    right: 1em;
}
nav img{
    width: 225px;
}

.city:hover {
    color: red;
}
.side_menu button{
    color: whitesmoke !important;
}
.side_menu button:disabled {
    color: dimgrey !important;
}

.btn-check:focus+.btn, .btn:focus {
    outline: none;
    box-shadow: none;
}

.carousel-item .carousel_text{
    width: 75%;
    margin: 0 auto;
}
.map{
    height: 700px;
    width: auto;
    margin-left: 4em;
}
.mobile{
    display: none;
}

footer {
    color: rgb(55, 63, 58);
    margin-top: -60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .desktop {
    display: none;
  }
  .mobile{
    display: block;
  }
  .mobile img{
    width: 80%;
  }
}